* {
    font-family: Garamond;
  }
  
  h1 {
    text-align: center;
    border: solid 2px black;
    background-color: #ff6666;
  }
  
  table, th, td, tr {
    border: 1px solid black;
  }
  
  th {
    background-color: #ff6666;
  }
  
  .description-column {
    width: 35%;
  }
  
  .example-column {
    width: 35%;
  }
  
  .block {
    display: block;
    background-color: red;
    color: white;
  }
  
  .inline {
    display: inline;
    background-color: red;
    color: white;
  }
  
  .inline-block {
    display: inline-block;
    padding: 15px;
    background-color: red;
    color: white;
  }
  
  .none {
    display: none;
    background-color: red;
    color: white;
  }